
.center {
        text-align: center;
}
#bar {
  width: 300px;
  background-color: lightgrey;
}

#foodBar {
  width: 300px;
  height: 30px;
  background-color: red;
}

#waterBar {
  width: 300px;
  height: 30px;
  background-color: lightblue;
}




